@import 'tailwindcss';

:root {
  --font-sf-pro: var(--font-sf-pro);
}

@theme inline {
  --font-sans: var(--font-sf-pro);
}

button:hover {
  @apply cursor-pointer;
}

body {
  font-family: var(--font-sf-pro);
}

.squircle {
  corner-shape: squircle;
}

.progress-bar-mask {
  mask-image: url('/masks/progess-bar.png');
  -webkit-mask-image: url('/masks/progess-bar.png');
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
